
.content-width{
    margin: 0 auto;
    width: 70%;
}
/* -----------------------------------
    Type
---------------------------------------*/
h1{
    font-family: 'PT Mono', monospace;
    font-size: 20px;
}
h2{
    margin-bottom: -15px;
}
h3{
    font-family: 'PT Mono', monospace;
}
h4{
    font-weight: normal;
    font-style: italic;
}
p{
    font-weight: 100;
    line-height: 1.4em;
    padding-bottom: 20px;
    font-size: 18px;
}

li{
    font-weight: 100;
    line-height: 1.4em;
}
a:visited, a:hover{
    color:#00999E;
}
body{
  font-family:"helvetica";
  margin: 20px 0 0;

}
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgba(125,127,130,0.27);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(125,127,130,0.47);
    -moz-box-shadow: 0px 6px 5px 0px rgba(125,127,130,0.47);
    box-shadow: 0px 6px 5px 0px rgba(125,127,130,0.47);
}
button{
    background: #00999E;
    border:1px solid #00999E;
    border-radius: 5px;
    padding:10px 20px;
    font-weight: 500;
    font-size: 16px;
    
}
.styled-link{
    color:white;
    text-decoration: none;
    background:#00999E;
    border: 1px solid #00999E;
    border-radius: 5px;
    padding: 8px 32px;
    font-size:16px;
}

.styled-link:hover{
    color:#0C3A5C;
    background-color: #9ad1d3;
}
/* -----------------------------------
    Colors
---------------------------------------*/
.blue-background{
    background-color: #0C3A5C;
    color: white;
}
.teal-background{
    background-color: #00999E;
    color: white;
}
.green-background{
    background-color:#A1C350;
    color: white;
}
.purple-background{
    background-color: #643056;
    color: white;
}
.white-background {
    background-color: white;
    color: black;
}

/* -----------------------------------
    Navigation
---------------------------------------*/
.header__navigation ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
}
.header__navigation ul li:first-child{
    line-height: 1.7em;
    padding-left: 12%;
    padding-right: 15%;
    color:white;
}
.header__navigation ul li:not(:first-child){
    margin-top:24px;
    margin-right:40px;
}
.header__navigation a{
    color:#00999E
}
.header__navigation i{
    margin-top:-7px;
}

/* -----------------------------------
    content
---------------------------------------*/
.about{

}
    .about__intro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 60px;
    }
        .intro__content {
            font-size: 1.4em;
            padding-top:20px;
            padding-bottom:60px;
        }
        .intro__content p{
            margin: 0;
        }
        .intro__image {
            margin: 0px;
            width:30%;
        }
    .about__intro .intro__content{
       padding-top:160px;
    }

    ul.condensed_list {
        padding-bottom: 20px;
    }

    ul.condensed_list li p {
        padding-bottom: 0;
    }


/* -----------------------------------
    Footer
---------------------------------------*/
.footer{
    background-color: #707070;
}
.footer__content{
    padding:10px 10px 1px;
}

.footer__copywright p{
    color:white;
    margin: 0 auto;
    font-size:10px;
    padding-top: 10px;
}
  .footer {
    /* position: relative;
    bottom: 1px; */
    width: 100%;
  }
  .about {
    min-height: calc(85vh - 42px);
  }
  .footer {
    height: 62px;
  }

  /* -----------------------------------
    phone
---------------------------------------*/
@media(min-width:300px) and (max-width:768px){

    .about__intro  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top:180px;
    }
    .intro__content{
        padding-left:0;

    }
    .about__intro .intro__content{
        display: none;
     }
    .header__navigation ul {
        flex-wrap: wrap;
        width: 80%
    }
    .header__navigation ul li:first-child{
        color:black;
        border-bottom: 1px solid #003550;
    }
    .header__navigation ul li:not(:first-child){
        margin-top:10px;
        margin-left:42px;
        margin-bottom:10px;
    }
    .projects {
        padding-top: 160px;
    }
    .project{
        flex-wrap: wrap;
    }
    .project__content {
        width: 90%;
    }

    .project__images {
        max-width: 100%;
    }
    .project ul{
        list-style-type: none;
        padding-left: 0;
    }

  }

  @media(min-width:1218px){
      .about{
          padding-top:40px;
      }
  }
